/* Add this CSS to your component's CSS file or a global stylesheet */


.chat-area {
  top: 5%;
  display: flex;
  flex-direction: column;
  height: 80%;
  position: absolute;
  width: 100%;
  max-height: calc(100vh - 120px); /* Adjust max-height to make space for chat box */
  overflow-y: auto;
  gap: 10px;
}

.chat-bubble {
  padding: 8px;
  border-radius: 8px;
  max-width: 70%;
  align-self: flex-end;
  margin-right: 10%;
  
}

.sent-by-you {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end; /* Align chat bubbles sent by you to the right */
}

.sent-by-others {
  background-color: #f0f0f0;
  color: #000;
}

.chat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80%;
  width: 100%; /* Adjust the width as needed */
  height: 20%;
  position: absolute;
  
}

.message-input {
  width: 20%;
  height: 10%;
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
